@charset "utf-8";
/* CSS Document */
body{
	font-family:"Microsoft YaHei";
}
.header{
	width:window.innerWidth;
	height:50px;
	matgin:0 auto;
	text-aligen:center;
	
}
.bar{
	width:650px;
	text-align:center;
	margin:0 auto;
}

.nav-home{
	text-decoration:none;

}
li{
	float:left;
	display:inline-block;
	width:120px;
	height:40px;
	text-align:center;
	line-height:40px;

}
.selcet{
	border-bottom:3px solid white;
	background-color:#141414
}
.selceted{

}
